.search-song-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.song-search-result-table {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.song-search-result-table-header {
  color: white;
  background-color: orange;
  font-weight: bold;
}
