.bar-chart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  background-color: white;
}

.bar-chart-header {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: flex-end;
}

.bar-chart-title-div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
