.page-not-found-div {
  margin: -24px -8px -124px -8px;
  height: 100vh;
  width: 100vw;
  background-image: url(https://cdn.dribbble.com/users/4672508/screenshots/11584848/media/bf99e1c02486a053bffcf88366923dae.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
